:root {
  --grayColor: rgb(158, 158, 158);
  --greenColor: rgb(1, 114, 90);
  --mintColor: rgb(161, 236, 184);
  --whiteColor: rgb(255, 255, 255);
  --darkGreenColor: rgb(0, 70, 49);
  --lightGreenColor: rgb(30, 209, 164);
  --darkerGreenColor: rgb(19, 73, 64);
  --darkColor: rgb(70, 70, 70);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
}
body {
  background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-bottle-green-solid-color-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#dealer-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2.5rem;
}

#dealer h2 {
  font-size: 2rem;
  color: var(--lightGreenColor);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#dealer-cards img {
  display: inline;
  height: 175px;
  width: 125px;
  margin: 1px;
  border-radius: 6px;
}
h2 {
  font-size: 2rem;
  color: var(--lightGreenColor);
  display: flex;
  justify-content: center;
}

#players-section {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.player {
  display: inline-block;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.player h3 {
  font-size: 1.5rem;
  color: var(--mintColor);
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.results {
  color: var(--mintColor);
  font-size: 1.5rem;
  font-weight: 600;
}

#player-cards {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  margin-left: 4rem;
}


#player-cards img {
  display: flex;
  justify-content: center;
  height: 175px;
  width: 125px;
  margin: 1px;
  margin-left: -95px;
  border-radius: 5px;
  box-shadow: -5px 5px 20px -8px rgb(0, 0, 0);
}
#player-cards img:hover{
  height: 182px;
  width: 132px;
  transition: 0.25s ; 
}

#buttons {
  display: flex;
  align-items: center;
  
}

button {
  display: flex;
  justify-content: center;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 575;
  background-color: var(--mintColor);
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 1.5rem;
  width: 5rem;
  height: 3rem;
  border-radius: 0.5rem;
  color: var(--greenColor);
  cursor: pointer;
  display: flex;
}

button:hover {
  height: 3.5rem;
  width: 5.3rem;
  transition: 0.5s;
  background-color: var(--darkGreenColor);
  color: var(--mintColor);
}

#deal {
  display: flex;
  background-color: var(--lightGreenColor);
  font-weight: 600;
}

#deal:hover {
  color: var(--lightGreenColor);
  background-color: var(--darkerGreenColor);
}
